<div class="col-lg-2">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
      <h2>{{ total_quotations }}</h2>
      <h4>Cotizaciones</h4>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
      <h2>{{ formatCurrency total_quotations_money }}</h2>
      <h4>Cotizaciones Total</h4>
    </div>
  </div>
</div>

<div class="col-lg-2">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
      <h2>{{ average_sent }}</h2>
      <h4>Tiempo de enviada</h4>
    </div>
  </div>
</div>