<div class="col-lg-3">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
      <h2>{{ statusCount.[5] }}</h2>
      <h4>Cotizaciones</h4>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
      <h2>$ {{ formatCurrency total_quotations_money }}</h2>
      <h4>Cotizaciones Total</h4>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
      <h2>{{ average_sent }} mins</h2>
      <h4>Promedio de enviada</h4>
    </div>
  </div>
</div>