body {
		font-family: 'nunitoregular';
    font-weight: normal;
		padding: 0;
		height: 100%;
		font-size: 14px;
		line-height: 12px;
}

b, h1, h2, h3, h4 {
  color: #111111;
  font-weight: bold;
}

p {
  font-family: 'nunitoregular';
  font-weight: normal;
}

.page {
  overflow: hidden;
  page-break-after: always;
}

table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}

#header img {
  width: 100%;
}

#header span {
  position: absolute;
  top: 260px;
  right: 55px;
  display: block;
  color: white;
  font-size: 22px;
}

#content {
  margin: 0 15px 0 15px;
  font-size: 11px;
  line-height: 9px;
}

#welcome {
  margin: 0 15px 0 15px;
}

.date {
  padding-bottom: 30px;
  font-weight: bold;
}

#contact {
  margin: 15px 0 0 15px;
  padding-bottom: 15px;
}

#contact p {
  margin: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

#intro {
  margin: 0 0 0 20px;

}

#intro p{
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

table {
	width: 100%;
  margin: 0 0 25px 0;
  padding-bottom: 0;
  border-top: 1px solid #fff;
  border-bottom: none;
  empty-cells: show;
}

table td {
  margin: 0;
  padding: 3px;
  border-top: 1px solid #eaab20;
  border-right: 1px solid #eaab20;
  color: black;
  font-size: 14px;
  line-height: 13px;
}

td.img-product {
  padding: 15px 5px 7px 0;
  font-size: 16px;
}

td img{
  width: 160px;
  border-top: 1px #fff solid;
}
.img-product{
    border-top: 1px #fff solid;
}
.img-product img {

  width: 160px;
}


.title {
  color: #111111;
  font-weight: bold;
  padding-bottom: 15px;
}

.no-border {
  border-right: none;
}


#banner_includes{
  margin: 15px 0 15px 15px;
  width: 520px;
}

#banner {
  margin: 15px 0 15px 20px;
  width: 510px;
}

#firm{

 margin-left: 30px;
}

.firm{
  display: block;
  margin-left: 30px;
}

#final {
  width: 100%;
  height: 950px;
}

#observacion {
  margin: 15px 0 15px 15px;
  padding: 0 0 0 15px;
  width: 510px;
}

#observacion span {
  display: block;
  margin: 0 0 15px -15px;
  padding: 0 0 25px 0;
  width: 505px;
  border-bottom: 1px solid #eaab20;
  font-size: 14px;
  line-height: 15px;
}

.service {
  page-break-inside: avoid !important;
}

.services {
  margin: 0 10px 15px 15px;
  width: 515px;
 font-size: 14px;
}

.service_title {
  margin: 0;
  font-size: 12px;
}

.divide {
  display: block;
  clear: both;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
}


.divider {
  width: 100%;
  height: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebab21;
}

.service-title {
  font-weight: bold;
  width: 100%;
}

.service-img{
  width: 160px;
  margin-left: 30px;
}

.service-title span{
  padding-top: 15px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.service-content{
  display: block;
 margin: 0 0 0 0;
}

.service-content ul, ol{
  padding: 0;
  margin-left: 10px;
}

.service-content b {
  font-weight: 700;
}

.service-content p > span{
  font-weight: normal;
  font-style: normal;
}

.comment-content p{
  margin:0;
  padding: 0;
}

.price {
  font-weight: bold;
}

.text-right{
  text-align:right;
}

.container-conf{
  clear: both;
  width: 100%;
}

.clearfix{
    display: block;
  clear: both;
}

.conf{
margin-bottom: 5px;
background: #ddd;

}

.spaces{
   border-bottom: 1px solid #fff;
}

.comment-title{
  margin-left: 30px;
  font-weight: bold;
}

.comment-content {
  margin-left: 30px;
}

.comment-content ul, .comment-content ol{
  padding: 0;
  margin-left: 10px;
}

.message{
  display: block;
  margin: 0 15px 0 15px;
    font-weight: normal;
   font-size: 16px;
  line-height: 20px;
}

.footer{
  position: fixed;
  bottom: 15px;
  left: 410px;
  margin-top: 15px;
}