  <div class="modal-body">
   {{> contact_form}}
  </div>
  <div class="modal-footer">
    <a href="#" class="contact-save-update btn btn-primary btn-sm">Guardar</a>
    <a href="#" class="modal-close btn btn-default btn-sm">Cancelar</a>
  </div>