/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
.category-item {
  height: 155px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px; }
  .category-item:hover {
    cursor: pointer; }
  @media (max-width: 767px) {
    .category-item {
      padding: 0; } }
  @media (min-width: 768px) and (max-width: 991px), (min-width: 992px) and (max-width: 1199px), (min-width: 1200px) {
    .category-item:first-child, .category-item:nth-child(2n+3) {
      padding-left: 0;
      padding-right: 7px; }
    .category-item:nth-child(2n+2) {
      padding-right: 0;
      padding-left: 7px; } }
  .category-item .img-container {
    width: 155px;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1; }
    .category-item .img-container img {
      width: 155px; }
  .category-item .content {
    background: #fff;
    padding: 15px;
    height: 155px;
    line-height: 200%;
    z-index: 2;
    position: relative;
    overflow: hidden; }
    .category-item .content .footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 30px 15px 10px 15px;
      margin-right: 15px;
      background: none, linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 50%);
      overflow: hidden;
      width: 100%; }
    .category-item .content h3 {
      font-size: 1.1em;
      font-weight: bold; }
      .category-item .content h3 a {
        color: #002855; }
    .category-item .content p {
      color: #7F7F7F;
      font-size: 0.9em;
      padding: 0 15px 0 0;
      line-height: 150%; }
    .category-item .content .date {
      font-size: 0.8em;
      color: #5F5F5F; }
    .category-item .content .share {
      font-size: 0.8em;
      float: right;
      padding-right: 15px; }

.category-header {
  background: #002855;
  color: #fff;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 30px;
  height: 150px; }
  .category-header img {
    float: left;
    height: 150px;
    margin-right: 30px; }
  .category-header h1 {
    padding: 30px 0;
    margin: 0;
    float: left;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 400; }
    @media (max-width: 767px) {
      .category-header h1 {
        font-size: 1.1em; } }
  .category-header .share {
    color: #fff;
    padding: 30px 0;
    font-size: 1.1em;
    float: right; }
    .category-header .share i {
      padding: 0 5px; }

.content {
  background: #fff;
  padding: 30px;
  color: #5F5F5F;
  font-size: 1em;
  line-height: 200%; }
  .content h4 {
    color: #002855;
    margin: 30px 0 30px 0; }
  .content #categories-list li a {
    color: #5F5F5F;
    list-style: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px;
    font-size: 1.1em; }
  .content #categories-list li:first-child {
    padding-top: 0; }

#lawyers-related .lawyer-item {
  padding: 0;
  height: auto; }
  #lawyers-related .lawyer-item .content {
    padding: 0;
    min-height: 50px; }
    #lawyers-related .lawyer-item .content h3 {
      margin: 0; }
    #lawyers-related .lawyer-item .content .country {
      font-size: 0.9em; }

/*# sourceMappingURL=category.css.map */
