/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
#posts-featured {
  margin-bottom: 15px; }

.post-main-featured-item {
  padding-left: 0;
  padding-right: 7px; }
  .post-main-featured-item:hover {
    cursor: pointer; }
  @media (max-width: 767px) {
    .post-main-featured-item {
      padding: 0;
      margin-bottom: 15px; } }
  .post-main-featured-item .img-container {
    height: 195px;
    overflow: hidden; }
    .post-main-featured-item .img-container img {
      margin-top: -35px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .post-main-featured-item .img-container img {
          margin-top: 0px; } }
      @media (max-width: 767px) {
        .post-main-featured-item .img-container img {
          margin-top: 0px;
          width: 125%; } }
    @media (max-width: 767px) {
      .post-main-featured-item .img-container {
        height: auto;
        padding: 0; } }
  .post-main-featured-item .content {
    padding: 20px;
    background: #fff;
    color: #5F5F5F;
    height: 180px;
    position: relative;
    overflow: hidden; }
    .post-main-featured-item .content .share-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #002855;
      top: -50px;
      left: 0;
      opacity: 0;
      z-index: 2;
      transition: all 500ms; }
      @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
        .post-main-featured-item .content .share-hover {
          display: none; } }
      .post-main-featured-item .content .share-hover:hover {
        opacity: 1;
        top: 0; }
      .post-main-featured-item .content .share-hover a h3 {
        color: #fff;
        text-align: right;
        margin: 30px 15px 30px 0;
        font-size: 1.3em;
        font-weight: 200; }
      .post-main-featured-item .content .share-hover h4 {
        color: #00A1B1;
        margin: 0 15px 15px 0;
        line-height: 0;
        text-align: right;
        font-weight: 200;
        font-size: 1.1em; }
        .post-main-featured-item .content .share-hover h4 i {
          padding-left: 5px; }
      .post-main-featured-item .content .share-hover a.share {
        color: #fff;
        font-size: 28px;
        display: block;
        float: right;
        margin-right: 15px; }
    .post-main-featured-item .content .footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 40px 15px 10px 20px;
      background: none, linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 50%);
      overflow: hidden; }
    @media (max-width: 767px) {
      .post-main-featured-item .content {
        width: 100%;
        height: 120px; } }
    .post-main-featured-item .content h3 {
      font-size: 1em;
      margin: 0;
      font-weight: bold; }
      .post-main-featured-item .content h3 a {
        color: #002855;
        font-size: 1.1em;
        line-height: 150%; }
        @media (max-width: 767px) {
          .post-main-featured-item .content h3 a {
            font-size: 0.8em; } }
        @media (max-width: 480px) {
          .post-main-featured-item .content h3 a {
            font-size: 0.8em; } }
    .post-main-featured-item .content p {
      color: #7F7F7F;
      font-size: 1em;
      line-height: 170%;
      margin: 10px 0 10px 0; }
      @media (max-width: 767px) {
        .post-main-featured-item .content p {
          display: none; } }
    .post-main-featured-item .content .date {
      font-size: 0.8em;
      font-style: italic;
      color: #7F7F7F; }
    .post-main-featured-item .content .country {
      font-size: 0.8em;
      font-style: italic;
      color: #7F7F7F;
      margin-right: 10px; }
    .post-main-featured-item .content .date {
      font-size: 0.8em;
      color: #5F5F5F;
      font-style: italic; }
    .post-main-featured-item .content .share {
      font-size: 0.8em;
      float: right;
      padding-right: 15px;
      color: #002855; }
      .post-main-featured-item .content .share i {
        padding-left: 5px; }

@media (min-width: 992px) and (max-width: 1199px), (min-width: 1200px) {
  .post-featured-item:first-child {
    padding-left: 7px;
    padding-right: 0; }
  .post-featured-item:nth-child(2) {
    padding-left: 7px !important;
    padding-right: 0 !important; }
  .post-featured-item:nth-child(2n+3) {
    padding-left: 7px;
    padding-right: 0; } }
@media (max-width: 767px) {
  .post-featured-item {
    padding: 0 !important; } }

.post-item, .post-featured-item {
  height: 180px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  @media (max-width: 767px) {
    .post-item, .post-featured-item {
      height: 135px;
      padding: 0;
      width: 100%; } }
  @media (max-width: 480px) {
    .post-item, .post-featured-item {
      height: 120px; } }
  @media (min-width: 768px) and (max-width: 991px), (min-width: 992px) and (max-width: 1199px), (min-width: 1200px) {
    .post-item:first-child, .post-featured-item:first-child {
      padding-left: 0;
      padding-right: 7px; }
    .post-item:first-child, .post-featured-item:first-child {
      padding-left: 0;
      padding-right: 7px; }
    .post-item:nth-child(2n+3), .post-featured-item:nth-child(2n+3) {
      padding-right: 0;
      padding-left: 7px; }
    .post-item:nth-child(2n+2), .post-featured-item:nth-child(2n+2) {
      padding-left: 0;
      padding-right: 7px; }
    .post-item:nth-child(2), .post-featured-item:nth-child(2) {
      padding-right: 0;
      padding-left: 7px; } }
  .post-item .thumb, .post-featured-item .thumb {
    width: 40%;
    height: 180px;
    float: left;
    overflow: hidden;
    position: relative;
    background: #002855;
    overflow: hidden; }
    @media (max-width: 767px) {
      .post-item .thumb, .post-featured-item .thumb {
        width: 25%; } }
    @media (max-width: 480px) {
      .post-item .thumb, .post-featured-item .thumb {
        width: 35%; } }
    .post-item .thumb img, .post-featured-item .thumb img {
      display: block;
      position: absolute;
      width: 400px;
      overflow: auto;
      margin: auto;
      right: 0;
      top: 0;
      bottom: 0;
      left: -100px; }
  .post-item .content, .post-featured-item .content {
    width: 60%;
    background: #fff;
    padding: 15px 20px 20px 20px;
    height: 180px;
    float: left;
    position: relative; }
    .post-item .content .share-hover, .post-featured-item .content .share-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #002855;
      top: -50px;
      left: 0;
      opacity: 0;
      z-index: 2;
      transition: all 500ms; }
      @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
        .post-item .content .share-hover, .post-featured-item .content .share-hover {
          display: none; } }
      .post-item .content .share-hover:hover, .post-featured-item .content .share-hover:hover {
        opacity: 1;
        top: 0; }
      .post-item .content .share-hover a h3, .post-featured-item .content .share-hover a h3 {
        color: #fff;
        text-align: right;
        margin: 30px 15px 30px 0;
        font-size: 1.3em;
        font-weight: 200; }
      .post-item .content .share-hover h4, .post-featured-item .content .share-hover h4 {
        color: #00A1B1;
        margin: 0 15px 15px 0;
        line-height: 0;
        text-align: right;
        font-weight: 200;
        font-size: 1.1em; }
        .post-item .content .share-hover h4 i, .post-featured-item .content .share-hover h4 i {
          padding-left: 5px; }
      .post-item .content .share-hover a.share, .post-featured-item .content .share-hover a.share {
        color: #fff;
        font-size: 28px;
        display: block;
        float: right;
        margin-right: 15px; }
    @media (max-width: 767px) {
      .post-item .content, .post-featured-item .content {
        height: 135px;
        padding: 15px;
        width: 75%; } }
    @media (max-width: 480px) {
      .post-item .content, .post-featured-item .content {
        height: 120px;
        width: 65%; } }
    .post-item .content h3, .post-featured-item .content h3 {
      font-size: 1em;
      padding-right: 7px;
      line-height: 1.4em;
      font-weight: bold;
      margin: 0 0 5px 0; }
      .post-item .content h3 a, .post-featured-item .content h3 a {
        color: #002855; }
      @media (max-width: 767px) {
        .post-item .content h3, .post-featured-item .content h3 {
          font-size: 0.9em; } }
    .post-item .content p, .post-featured-item .content p {
      font-size: 1em;
      line-height: 150%;
      padding: 7px 0 7px 0;
      margin: 0;
      color: #7F7F7F; }
    .post-item .content .footer, .post-featured-item .content .footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 40px 15px 10px 20px;
      background: none, linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 50%);
      overflow: hidden; }
    .post-item .content .date, .post-featured-item .content .date {
      font-size: 0.8em;
      color: #7F7F7F;
      font-style: italic; }
    .post-item .content .country, .post-featured-item .content .country {
      font-size: 0.8em;
      font-style: italic;
      color: #7F7F7F;
      margin-right: 10px; }

.post-header {
  background: #002855;
  color: #fff;
  float: left;
  width: 100%;
  padding-right: 30px; }
  @media (max-width: 767px) {
    .post-header {
      padding: 30px; } }
  .post-header img {
    float: left;
    height: 150px;
    margin-right: 30px; }
  .post-header h1 {
    padding: 15px 0 10px 30px;
    margin: 0;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 200; }
    @media (max-width: 767px) {
      .post-header h1 {
        padding: 0; } }
  .post-header h5 {
    color: #00A1B1;
    font-weight: 400; }
    .post-header h5 a {
      color: #00A1B1;
      font-weight: 400; }
  .post-header .categories span {
    color: #00A1B1;
    font-weight: 200; }
  .post-header a.share {
    color: #fff;
    font-size: 28px;
    display: block;
    float: right;
    margin-right: 15px; }
  @media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
    .post-header .post-social {
      margin-top: -30px; } }

.content {
  background: #fff;
  padding: 30px;
  color: #5F5F5F;
  font-size: 1em;
  line-height: 1.7em; }
  @media (max-width: 767px) {
    .content {
      padding: 15px; } }

.post-featured-item:first-child {
  padding-left: 0; }
.post-featured-item:first-child, .post-featured-item:nth-child(2n+3) {
  padding-left: 0; }
.post-featured-item:nth-child(2), .post-featured-item:nth-child(3) {
  padding-left: 7px;
  padding-right: 0; }
.post-featured-item:nth-child(2n+2) {
  padding-right: 0; }

#posts-related .post-item {
  padding-left: 0;
  padding-right: 7px; }
  #posts-related .post-item:first-child {
    padding-left: 0;
    padding-right: 7px; }
  #posts-related .post-item:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 7px; }

.related-title {
  float: left;
  width: 100%;
  text-align: center;
  background: #fff;
  margin-bottom: 15px;
  padding: 15px; }
  .related-title h3 {
    font-size: 1.2em;
    color: #002855;
    margin: 0; }

#post-detail .content {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  display: block; }
  @media (max-width: 767px) {
    #post-detail .content {
      padding: 15px !important; } }
#post-detail .date {
  font-size: 0.8em;
  color: #7F7F7F;
  font-style: italic;
  padding-bottom: 15px; }
  #post-detail .date i {
    margin-right: 3px; }
    #post-detail .date i:nth-child(2) {
      margin-left: 10px; }

/*# sourceMappingURL=post.css.map */
