/*
Error: Invalid CSS after "#{$mobile}, ": expected media query (e.g. print, screen, print and screen), was "@media #{$mobil..."
        on line 67 of /var/folders/sh/rqz0_7492776x6w5x1kkfcnm0000gp/T/gulp-ruby-sass/post.sass

62: 			font-weight: bold
63: 			a
64: 				color: $color-darkBlue
65: 				font-size: 1.1em
66: 				line-height: 150%
67: 				@media #{$mobile}, @media #{$mobile-xs}
68: 					font-size: 0.8em
69: 
70: 		p
71: 			color: #7F7F7F
72: 			font-size: 1em

Backtrace:
/var/folders/sh/rqz0_7492776x6w5x1kkfcnm0000gp/T/gulp-ruby-sass/post.sass:67
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1165:in `expected'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1101:in `expected'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1081:in `expr!'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:412:in `media_query_list'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:65:in `parse_media_query_list'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:873:in `parse_media_directive'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:788:in `parse_directive'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:635:in `parse_line'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:525:in `build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:544:in `block in append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:534:in `block in build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:544:in `block in append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:534:in `block in build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:544:in `block in append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:534:in `block in build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:544:in `block in append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:534:in `block in build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:527:in `build_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:544:in `block in append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:543:in `append_children'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:396:in `_to_tree'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
/Users/ale/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
/Users/ale/.rbenv/versions/2.1.5/bin/sass:23:in `load'
/Users/ale/.rbenv/versions/2.1.5/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#{$mobile}, \": expected media query (e.g. print, screen, print and screen), was \"@media #{$mobil...\"\A         on line 67 of /var/folders/sh/rqz0_7492776x6w5x1kkfcnm0000gp/T/gulp-ruby-sass/post.sass\A \A 62: 			font-weight: bold\A 63: 			a\A 64: 				color: $color-darkBlue\A 65: 				font-size: 1.1em\A 66: 				line-height: 150%\A 67: 				@media #{$mobile}, @media #{$mobile-xs}\A 68: 					font-size: 0.8em\A 69: \A 70: 		p\A 71: 			color: #7F7F7F\A 72: 			font-size: 1em"; }
