<td>{{ title }} </td>
<td><a href="#" class="btn btn-default btn-xs service-open-edit btn-hidden">Editar</a></td>
<td>$ {{ price_1 }}</td>
<td>$ {{ price_2 }}</td>
<td>
<a href="#" class="quotation-service-detach btn btn-danger btn-xs">Eliminar</a>
</td>