<div class="col-lg-12">
   <form action="#" class="quotation-search" method="POST">
    <div class="form-group">
      <input type="text" name="query" class="form-control quotation-query" placeholder="Buscar Cotización">
    </div>
  </form>
</div>

<div class="col-lg-4" >
  <select name="" class="form-control filter-status">
    <option value="">Selecionar Estado</option>
    <option value="Borrador">Borrador</option>
    <option value="Enviada">Enviada</option>
    <option value="Seguimiento">Seguimiento</option>
    <option value="No enviada">No enviada</option>
    <option value="Efectiva">Efectiva</option>
    <option value="No efectiva">No efectiva</option>
    <option value="Replanteada">Replanteada</option>  
  </select>
</div>
<div class="col-lg-4">
  <select name="" class="form-control filter-advisor">
    <option value="">Selecionar Asesor</option>
    <option value="Andrés Rojas">Andrés Rojas</option>
    <option value="Diego Peña">Diego Peña</option>
    <option value="Otros">Otros</option>
  </select>
</div>
<div class="col-lg-4">
  <select name="" class="form-control filter-client-type">
    <option value="">Selecionar tipo de cliente</option>
    <option value="Activo">Activo</option>
    <option value="Inactivo">Inactivo</option>
    <option value="Nuevo">Nuevo</option>
  </select>
</div>
