    <option value="Administración gubernamental">Administración gubernamental</option>
    <option value="Alimentación y bebidas">Alimentación y bebidas</option>
    <option value="Almacenamiento">Almacenamiento</option>
    <option value="Animación">Animación</option>
    <option value="Apuestas y casinos">Apuestas y casinos</option>
    <option value="Arquitectura y planificación">Arquitectura y planificación</option>
    <option value="Artículos de consumo">Artículos de consumo</option>
    <option value="Asuntos internacionales">Asuntos internacionales</option>
    <option value="Atención sanitaria y hospitalaria">Atención sanitaria y hospitalaria</option>
    <option value="Automatización industrial">Automatización industrial</option>
    <option value="Banca">Banca</option>
    <option value="Banca de inversiones">Banca de inversiones</option>
    <option value="Bienes inmobiliarios">Bienes inmobiliarios</option>
    <option value="Construcción">Construcción</option>
    <option value="Comercializadora">Comercializadora</option>
    <option value="Consultores">Consultores</option>
    <option value="Derecho">Derecho</option>
    <option value="Desarrollo de programación">Desarrollo de programación</option>
    <option value="Desarrollo de software">Desarrollo de software</option>
    <option value="Diseño">Diseño</option>
    <option value="Dotación y selección de personal">Dotación y selección de personal</option>
    <option value="Educación primaria secundaria">Educación primaria/secundaria</option>
    <option value="Electrónica de consumo">Electrónica de consumo</option>
    <option value="Enseñanza superior">Enseñanza superior</option>
    <option value="Entretenimiento">Entretenimiento</option>
    <option value="Eventos">Eventos</option>
    <option value="Financiero">Financiero</option>
    <option value="Hostelería">Hostelería</option>
    <option value="Marketing y publicidad">Marketing y publicidad</option>
    <option value="Ingeniería">Ingeniería</option>
    <option value="Ocio viajes y turismo">Ocio, viajes y turismo</option>
    <option value="Organización política">Organización política</option>
    <option value="Recursos humanos">Recursos humanos</option>
    <option value="Restaurantes">Restaurantes</option>
    <option value="Salud">Salud</option>
    <option value="Seguridad">Seguridad</option>
    <option value="Sistemas">Sistemas</option>
    <option value="Soluciones de software">Soluciones de software</option>
    <option value="Telecomunicaciones">Telecomunicaciones</option>